 
        @font-face {
            font-family: BYekan;
            src: url('../fonts/Yekan.ttf') format('truetype'), url('../fonts/Yekan.woff') format('woff'), url('../fonts/Yekan.eot') format('embedded-opentype');
        }
        body {
            font-family: yekan;
            font-size: 16px;
            line-height: 30px;
            background: url(../images/pat1.png) #114873;
            direction: rtl;
        }

        .c_login {
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 400px;
            margin: 100px auto;
            background-color: #FFF;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            border-top: 2px solid #BED6E1;
            z-index: 3;
            position: relative;
        }

            .c_login::before {
                content: "";
                width: 7px;
                height: 7px;
                background: #b2d4dd;
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 100%;
            }

            .c_login::after {
                content: "";
                width: 7px;
                height: 7px;
                background: #b2d4dd;
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
                border-radius: 100%;
            }

        .ttl {
            height: 35px;
            text-align: center;
            line-height: 35px;
            font-family: b yekan;
            color: #62b786;
            border-right: 0px solid #bfe0cd;
            border-left: 0px solid #bfe0cd;
            transition: 0.3s;
        }

        .c_login:hover .ttl {
            background: #f8f8f8;
            border-right: 55px solid #bfe0cd;
            border-left: 55px solid #bfe0cd;
            color: #1e9350;
        }

        input[type=text], input[type=password] {
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            border: 1px solid #e5e5e5;
            height: 28px;
            text-indent: 10px;
            line-height: 28px;
            float: right;
            width: 62%;
            color: #777;
            background-image: -moz-linear-gradient(top,#f5f5f5,#fff);
            background-image: -webkit-linear-gradient(top,#f5f5f5,#fff);
            background-repeat: no-repeat;
            border-radius: 3px 0 0 3px;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-image: -moz-linear-gradient(bottom,#eee,#fff);
                background-position: 0 30px;
            }

            input[type=text]:focus, input[type=password]:focus {
                color: #000;
            }

        .c_inp {
            margin: 20px auto;
            height: 30px;
            width: 300px;
        }


            .c_inp span {
                display: block;
                width: 100px;
                text-align: center;
                height: 32px;
                float: right;
                color: #FFF;
                background-color: #1E9ED1;
                text-indent: 0px;
                font-size: 14px;
                border-radius: 0 3px 3px 0;
            }

        .c_1btn {
            width: 100px;
            margin: 40px auto 20px;
            position: relative;
            overflow: hidden;
        }

        .foot {
            border: 1px solid #FFF;
            background-color: #F5F5F5;
            color: #fff;
        }

        .clear {
            clear: both;
        }

        .spliter {
            background: url("../../../pnl_manage/img/striped-bg.png") repeat-x;
            height: 12px;
        }

        .frm_btn {
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            border: none;
            padding: 0;
            margin: 0;
            display: block;
            width: 100px;
            height: 32px;
            line-height: 32px;
            color: #fff;
            background-color: #4DC882;
            font-family: yekan;
            font-size: 16px;
            border-bottom: 3px solid #50B079;
            text-align: center;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            cursor: pointer;
            text-indent: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .frm_btn:hover {
                border-bottom: 3px solid rgba(115, 219, 196, 0.42);
                background-color: #7fbe9a;
            }

            .frm_btn:active {
                background-color: #E69500;
                -webkit-box-shadow: 0 0 5px #00284C inset;
                -moz-box-shadow: 0 0 5px #00284C inset;
                box-shadow: 0 0 5px #00284C inset;
            }

        .btn_over {
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            position: absolute;
            height: 80px;
            width: 0;
            -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
            -moz-box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
            box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
            top: -50px;
            right: -20px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .c_1btn:hover .btn_over {
            -webkit-transform: rotate(-45deg) translate3d(-100px,-50px,0);
            -moz-transform: rotate(-45deg) translate3d(-100px,-50px,0);
            transform: rotate(-45deg) translate3d(-100px,-50px,0);
        }

        .c_1btn:active .btn_over {
            display: none;
        }


        #lnk_home {
            color: #9d9d9d;
            text-decoration: none;
            padding: 10px;
            display: inline-block;
            margin-top: -20px;
        }

            #lnk_home:hover {
                color: #fff;
            }

        a.lnk {
            display: inline-block;
            text-decoration: none;
            color: #666;
            text-indent: 20px;
        }

            a.lnk:hover {
                text-decoration: underline;
            }

        .c_logo img {
            display: block;
            margin: auto;
        }

        .c_logo {
            margin: -50px 0 10px;
            padding-bottom: 15px;
            border-bottom: 1px dashed #ddd;
            background: linear-gradient(transparent 45%,rgba(249, 249, 249, 0.4) 45%);
        }


        *, frm_btn {
            font-family: BYekan !important;
        }

        .g-recaptcha > div {
            margin: 10px auto;
        }